$space: 30vh;
.burger-open,
.burger-close{
    font-size: 1.9em;
    cursor: pointer;
    transition: all ease .5s;
}
.burger-close {
  margin-top: 2px;
  margin-left: 10px;
}
.overflow {
  overflow: hidden;
}
.fade {
  opacity:0;
}
.navbar-default {
  border-color: #e7e7e7 #fff;
}
.navbar-nav {
  padding:10px 20px;
}
.navbar-right {
  margin-right: 0;
}
.toggle-nav #wrapper {
    left: 0;
    -webkit-transform: translate3d($space, 0, 0);
    -moz-transform: translate3d($space, 0, 0);
    -ms-transform: translate3d($space, 0, 0);
    -o-transform: translate3d($space, 0, 0);
    transform: translate3d($space, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}
#wrapper {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}
nav {
    position: absolute;
    width: 30vh;
    left: -30vh;
    top: 0;
    height: 100%;
    padding: 10px;
    z-index: 9999;
    background-color: #eee;
    .menu {
      margin-top: 60px;
    }
}
.container {
  height: 2000px;
}
